@using SocialPackage.Code
@model List<SocialPackage.Infrastructure.Entities.Bid>
<div ng-controller="SendedBidsCtrl">

    <div class="title">Загруженные заявки</div>
    <hr />
    <table style="z-index:2" class="table nohover">
        <thead>
            <tr>
                <th>Имя</th>
                <th>СУММА</th>
                <th>КАТЕГОРИЯ</th>
                <th>ДАТА</th>
                <th>СТАТУС</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bid in Model)
            {
                <tr>
                    <td>@bid.BidUser.FullName</td>
                    <td>@bid.Summ руб.</td>
                    <td><span style="color:@bid.category.Color" class=" glyphicon glyphicon-one-fine-dot"></span>@bid.category.Name</td>
                    <td>@bid.Date.ToViewString()</td>
                    @{
                switch (bid.Status)
                {
                    case SocialPackage.Infrastructure.Entities.BidStatus.Approved:
                        <td style="color: #3ec172">Утвержден</td>
                        break;
                    case SocialPackage.Infrastructure.Entities.BidStatus.Paid:
                    <td style="color: #3ec172">Оплачен</td>
                        break;
                    case SocialPackage.Infrastructure.Entities.BidStatus.Uploaded:
                    <td>Загружен</td>
                        break;
                    case SocialPackage.Infrastructure.Entities.BidStatus.Declined:
                    <td style="opacity: .6">Отклонен</td>
                        break;

                }
                <td>
                    @if (bid.Status == SocialPackage.Infrastructure.Entities.BidStatus.Uploaded)
                    {
                        <span ng-click="delete(@bid.id)" class="glyphicon glyphicon-remove"></span>
                    }
                </td>
                    }

                    @* <td>@Html.DisplayNameFor(model => bid.Status)</td>*@
                </tr>
            }

        </tbody>
    </table>



</div>