@model List<SocialPackage.Infrastructure.Entities.Limit>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title">Лимиты</div>
<hr />
@Html.ActionLink("Добавить", "AddLimit", null, new { @class = "load btn btn-primary" })
<table style="margin-top:0" class="table nohover">
    <thead>
        <tr>
            <th>id</th>
            <th>Название</th>
            <th>Фитнес</th>
            <th>Проездные</th>
            <th>Соц.Мероприятия</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var limit in Model)
        {
            <tr>
                <td>@limit.Id</td>
                <td>@limit.Name</td>
                <td>@limit.Fitnes</td>
                <td>@limit.Proezd</td>
                <td>@limit.CultureEvents</td>

                <td>@Html.ActionLink("Редактировать", "Edit", new { id = limit.Id }, new { @class = "load btn btn-primary" })</td>
            </tr>


        }
    </tbody>
</table>
