@{
    var currUsr = User as SocialPackage.Infrastructure.Entities.User;
    var MainView = ViewContext.RouteData.Values["Controller"].Equals("Home") && ViewContext.RouteData.Values["Action"].Equals("Index");

    string url = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~").Remove(Url.Content("~").Length - 1));
}

<!DOCTYPE html>
<html ng-app ="SocialPackage">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />

        @*<meta name="viewport" content="width=device-width" />*@
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/textAngular")
        <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>
        <base href="{{$root.baseUrl}}" ng-init="$root.baseUrl = '@url'"  />
        
        @*    @Scripts.Render("~/bundles/modernizr")*@
    </head>

    <body>
        
        <div ng-cloak ng-controller="MainCtrl" class="container">
            <div class="menu col-lg-3 col-md-3 col-sm-3">
                <div ng-bind="currentUser.user.FullName" class="name"></div>
                 
                
            <ul class="nav nav-pills nav-stacked">
                <li class="@(ViewContext.RouteData.Values["Controller"].Equals("Home") && ViewContext.RouteData.Values["Action"].Equals("Index") ? "active" : "")">@Html.ActionLink("Мои заявки", "Index", "Home", new { Area = "" }, new { })</li>
                @*<li><a href="#">Настройки</a></li>*@

                @if (currUsr.IsInRole("Администратор") || currUsr.IsInRole("Секретарь"))
                {
                    <li class="@(ViewContext.RouteData.Values["Controller"].Equals("Home") && ViewContext.RouteData.Values["Action"].Equals("SendedBids") ? "active" : "")">@Html.ActionLink("Загруженные заявки", "SendedBids", "Home", new { Area = "" }, new { })</li>

                }
                @if (currUsr.IsInRole("Администратор") || currUsr.IsInRole("Бухгалтер"))
                {
                    <li class="@(ViewContext.RouteData.Values["Controller"].Equals("Accountant") && ViewContext.RouteData.Values["Action"].Equals("Index") ? "active" : "")">@Html.ActionLink("Заявки для утверждения", "Index", "Accountant", new { Area = "" }, new { })</li>
                    <li class="@(ViewContext.RouteData.Values["Controller"].Equals("Accountant") && ViewContext.RouteData.Values["Action"].Equals("Pay") ? "active" : "")">@Html.ActionLink("Ведомость к выплате", "Pay", "Accountant", new { Area = "" }, new { })</li>
                }
                @if (currUsr.IsInRole("Администратор"))
                {
                    <li class="@(ViewContext.RouteData.Values["Controller"].Equals("Users") ? "active" : "")">@Html.ActionLink("Пользователи", "Index", "Users", new { Area = "Admin"}, new { })</li>
                    <li class="@(ViewContext.RouteData.Values["Controller"].Equals("Limits") ? "active" : "")">@Html.ActionLink("Лимиты", "Index", "Limits", new { Area = "Admin" }, new { })</li>
                    <li class="@(ViewContext.RouteData.Values["Controller"].Equals("Settings") ? "active" : "")">@Html.ActionLink("Настройки", "Index", "Settings", new { Area = "Admin" }, new { })</li>
                }

                <li><hr /></li>
                @*<li class="exit"><a href="#">Выход</a></li>*@
            </ul>
        </div>



        <div class='@(MainView == true?"col-lg-8 col-md-8 col-sm-8 base":"col-lg-9 col-md-9 col-sm-9 base")'>
            <div style=" padding-bottom: 70px;">
                @RenderBody()
            </div>

            <nav class="bottom">
                <div class="container">
                    <div class="row">
                        <div ng-show="currentUser.user.GeneralLimit.Fitnes != 0" class="category">
                            <div class="categoryname">ФИТНЕСС</div>
                            <div ng-bind-template="{{currentUser.user.Limit.Fitnes == -1?'Без лимита':currentUser.user.Limit.Fitnes + 'руб.'}} " class="green"></div>
                        </div>
                        <div ng-show="currentUser.user.GeneralLimit.Proezd != 0" class="category">
                            <div class="categoryname">ПРОЕЗДНЫЕ</div>
                            <div ng-bind-template="{{currentUser.user.Limit.Proezd == -1?'Без лимита':currentUser.user.Limit.Proezd + 'руб.'}} " class="cornflower"></div>
                        </div>
                        <div ng-show="currentUser.user.GeneralLimit.CultureEvents != 0" class="category">
                            <div class="categoryname">СОЦ. МЕРОПРИЯТИЯ</div>
                            <div ng-bind-template="{{currentUser.user.Limit.CultureEvents == -1?'Без лимита':currentUser.user.Limit.CultureEvents + 'руб.'}}" class="cerise-red"></div>
                        </div>
                    </div>
                </div>
            </nav>

        </div>


        @if (ViewContext.RouteData.Values["Controller"].Equals("Home") && ViewContext.RouteData.Values["Action"].Equals("Index"))
        {
            <div class="arrow col-lg-1 col-md-1 col-sm-1">
                <div style=" position: absolute; left: 0; top: 35%;">
                    <p style=" opacity: 0.3; position: absolute; top: 50%; left: 10px;" class="title">Перетащите чек сюда</p>
                    <img style=" opacity: 0.3; height: 420px;" draggable="false" src="Images/arrow.png" />

                </div>
            </div>
        }
    </div>
    @* <img style="  height:420px; " src="Images/arrow.png" />*@




    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular_aktiv")
    @Scripts.Render("~/bundles/angular_upload")
    @Scripts.Render("~/bundles/textAngular")
    @*@Scripts.Render("~/bundles/jqueryui")*@
    @RenderSection("scripts", required: false)

    @*<script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    language: 'ru',
                    useCurrent: false
                });
            });
        </script>*@
</body>
</html>
