@using SocialPackage.Code
@model SocialPackage.Areas.Admin.Models.UserViewModel
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title">Редактировать</div>
<hr />
<div>
    @using (Html.BeginForm())
    {
        <table class="table nohover">

            <tr>
                <td style="border-top:none" colspan="2">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <table style="margin-top:0 " class="table">
                        @*для LDAP*@
                        @* <table class="table table-bordered">*@
                        <tr>
                            <td style="border:none">@Html.LabelFor(model => model.FullName)</td>
                            <td style="border:none">
                                @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FullName)
                                <input type="hidden" id="Login" name="Login" value="AKTIV\{{loginselect.Login}}" />
                            </td>
                        </tr>

                        <tr>
                            <td>@Html.LabelFor(model => model.Email)</td>
                            <td>
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                            </td>
                        </tr>


                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Roles)</td>
                            <td>
                                <ul>
                                    @foreach (var r in Model.allRoles)
                                    {
                                        <li>
                                            <input type="checkbox"
                                                   name="SelectedRoles" value="@r.RoleId" id="@r.RoleId"
                                                   @{if (Model.SelectedRoles.Contains(r.RoleId)) { <text> checked='checked' </text>     } } />
                                            <label for="@r.RoleId">@r.RoleName</label>
                                        </li>
                                    }
                                </ul>
                            </td>
                        </tr>

                        <tr>
                            <td>@Html.LabelFor(model => model.Limit)</td>
                            <td>
                                @Html.DropDownListFor(mode => Model.SelectedLimitId
                               , new SelectList(Model.AvailLimits.Select(el => new { LimitId = el.Id, Name = el.Name }), "LimitId", "Name", Model.SelectedLimitId)
                               , new { @class = "form-control" })
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2"><input type="submit" class="load btn btn-primary" value="Сохранить" /></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    }

</div>