@model List<SocialPackage.Infrastructure.Entities.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title">Пользователи</div>
<hr />
@Html.ActionLink("Новый", "AddUser", null, new { @class = "load btn btn-primary" })


<table style="margin-top:0" class="table nohover">
    <thead>
        <tr>
            <th>ФИО</th>
            <th>E-Mail</th>
            <th>Фитнес</th>
            <th>Проезд</th>
            <th>Соц.мероприятия</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usr in Model)
        {
            <tr>
                <td> @usr.FullName</td>
                <td>@usr.Email</td>
                @if (usr.Limit != null)
                {
                    <td>@usr.Limit.Fitnes</td>

                    <td>@usr.Limit.Proezd</td>
                    <td>@usr.Limit.CultureEvents</td>
                }
                else
                {
                    <td></td>
                    <td></td>
                    <td></td>
                }
                <td>@Html.ActionLink("Редактировать", "Edit", new { id = usr.id }, new { @class = "load btn btn-primary" })</td>
            </tr>

        }
    </tbody>
</table>
