@{
    Layout = null;
    var url = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));
}

<!DOCTYPE html>
<html ng-app="SocialPackage">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    @*<meta name="viewport" content="width=device-width" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/textAngular")
    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>
    <base href="{{$root.baseUrl}}" ng-init="$root.baseUrl = '@url'" />
    @*    @Scripts.Render("~/bundles/modernizr")*@
</head>

<body >
    <div class="container">

        <div class="col-lg-12 base">
            <div style=" padding-bottom: 70px;">
                <h2 class="text-center">Стартовая конфигурация системы</h2>
                <hr />
                @Html.Partial("_SettingsPartial", new SocialPackage.Areas.Admin.Models.SettingsViewModel { IsStart = true })
            </div>
        </div>



    </div>


    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular_aktiv")
    @Scripts.Render("~/bundles/angular_upload")
    @Scripts.Render("~/bundles/textAngular")
    @*@Scripts.Render("~/bundles/jqueryui")*@

    @*<script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    language: 'ru',
                    useCurrent: false
                });
            });
        </script>*@
</body>
</html>
